.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* ====================================== */
.container1 {
  /* display: none; */
  border: 3px solid #d40000;
  border-radius: 50px;
  width: 800px;
  padding: 20px;
  margin: 5px auto;
}
/*     Question 6      */

button {
  border: none;
  margin: 10px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #614466;
}

button:hover {
  background-color: #b24fcd;
}

.paragh {
  font-size: 30px;
  font-weight: 700;
}
.center {
  width: 300px;
}
